SQLAlchemy==2.0.48
blinker==1.9.0
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.1.5
Flask-WTF==1.2.2
greenlet==3.3.2
wtforms==3.2.1
typing-extensions==4.15.0
flask-login==0.6.3