{% extends "base.html" %}

{% block content %}
    <h1>Adding a job</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.job.label }}
            {{ form.job(class="form-control") }}
        </p>
        <p>
            {{ form.team_leader.label }}
            {{ form.team_leader(class="form-control") }}
        </p>
        <p>
            {{ form.work_size.label }}
            {{ form.work_size(class="form-control") }}
        </p>
        <p>
            {{ form.collaborators.label }}
            {{ form.collaborators(class="form-control") }}
        </p>
        <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}