{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Adding a Job</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.job.label(class="form-label") }}
                {{ form.job(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.team_leader.label(class="form-label") }}
                {{ form.team_leader(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.work_size.label(class="form-label") }}
                {{ form.work_size(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.collaborators.label(class="form-label") }}
                {{ form.collaborators(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.is_finished.label(class="form-check-label") }}
                {{ form.is_finished(class="form-check-input") }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}