{% extends "base.html" %}

{% block content %}
<div class="container mt-3" style="width: 50%;">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                Анкета претендента
            </h1>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">
                На участие в миссии
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="mb3">
                    <label for="surname" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="surname">
                </div>
                <div class="mb3">
                    <label for="name" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="mb3">
                    <label for="email" class="form-label">Введите адрес почты</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb3">
                    <label class="form-label">
                        Образование
                    </label>
                    <select class="form-select">
                        <option selected value="0">Образование</option>
                        <option value="1">Среднее</option>
                        <option value="2">Бакалавриат</option>
                        <option value="3">Магистратура</option>
                        <option value="4">Аспирантура</option>
                    </select>
                </div>
                <div class="mb3">
                    <label class="form-label">Какие у вас профессии?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="engineer_rad">
                        <label class="form-check-label" for="engineer_rad">
                            Инженер по радиационной защите
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="2" id="pilot">
                        <label class="form-check-label" for="pilot">
                            Пилот
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="3" id="meteo">
                        <label class="form-check-label" for="meteo">
                            Метеоролог
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="4" id="doctor">
                        <label class="form-check-label" for="doctor">
                            Врач
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="5" id="engineer_builder">
                        <label class="form-check-label" for="engineer_builder">
                            Инженер-строитель
                        </label>
                    </div>
                </div>
                <div class="mb3">
                    <label class="form-label">Укажите пол</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="male">
                        <label class="form-check-label" for="male">
                            Мужской
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="female">
                        <label class="form-check-label" for="female">
                            Женский
                        </label>
                    </div>
                </div>
                <div class="mb3">
                    <label class="form-label">Почему вы хотите принять участие в миссии?</label>
                    <label for="motivation" class="form-label"></label>
                    <textarea class="form-control" id="motivation"></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="mars">
                    <label class="form-check-label" for="mars">
                        Готовы ли остаться на Марсе?
                    </label>
                </div>
                <div class="mb3">
                    <button type="submit" class="btn btn-success">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}