{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Список профессий</h2>
            {% if list == "ol" %}
            <ol>
                {% for i in prof_list %}
                <li>{{ i }}</li>
                {% endfor %}
            </ol>
            {% elif list == "ul" %}
            <ul>
                {% for i in prof_list %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Введён неверный параметр</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}