<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href="/static/css/style.css">
</head>
<body>
    <h1>Жди нас, Марс!</h1>
    <img src="static/img/mars.jpg">
    <p id="p1">Человечество вырастает из детства.</p>
    <p id="p2">Человечеству мала одна планета.</p>
    <p id="p3">Мы сделаем обитаемым безжизненные пока планеты.</p>
    <p id="p4">И начнем с Марса!</p>
    <p id="p5">Присоединяйся!</p>
</body>
</html>